.THIS .slds-accordion__summary{
    background-color: rgb(243, 242, 242);
}
.THIS .slds-grid{
    width:100%;
}
.THIS .slds-accordion__section{
    padding:0;
}
.THIS .slds-accordion__summary-heading{
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: 0 0.75rem;
}
.THIS .slds-accordion__summary-action:hover{
    background: rgb(238, 241, 246);
    color: inherit;
}
.THIS .slds-gutters{
    margin:0;
}